@import 'variable';
.banner {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  background-image: url('https://s3-alpha-sig.figma.com/img/866b/63ac/1e9eca12ac0612fb7b885045132e08f8?Expires=1647820800&Signature=NhlkpIpR6qN9L7m7-pfHBq5CIZ2ouCnC5HnoqWJpGwg2X3bxKw0PwdqbD6pOVC2bkh1EZhALlq6bRzlzhi-PAkP-A2GCTYJW-LwDXss3DDreysAOAoHToqPOAvt-h6bH13-2kYc4b9gPVUbWBAZ5x-cM0-daiEht7K5elJyh26MXyyqN~lVcQKoZCkW4fk9PQZqALMNW8fAXsCFJLS3rc17Wb~Y-OJKdvCRZBZtWQCzO~7xh~moTdznh1VdqxF2U-gXam~PNA~Lxf1ixzgktPPOeX1DuZmEwbcbjjDpDdEIjApJ4stSg-KicKlNrx9Fbe5PfNY0~QXmcBKi0pCwbgA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  margin-left: 5%;

  .content-title {
    font-size: 48px;
  }

  .content-where {
    font-family: cursive;
    font-weight: bold;
    font-size: 40px;
  }

  .content-text {
    font-size: 15px;
  }

  .btn-link-start {
    background-color: $color-buton;
    width: 377px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    .link-start {
      color: $color-letter-white;
      font-size: 30px;
      text-decoration: none;
      font-family: cursive;
    }
    
    .link-start:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width:768px) and (max-width: 1025px) {
  .banner {
    height: 350px;
    background-image: url('https://s3-alpha-sig.figma.com/img/866b/63ac/1e9eca12ac0612fb7b885045132e08f8?Expires=1647820800&Signature=NhlkpIpR6qN9L7m7-pfHBq5CIZ2ouCnC5HnoqWJpGwg2X3bxKw0PwdqbD6pOVC2bkh1EZhALlq6bRzlzhi-PAkP-A2GCTYJW-LwDXss3DDreysAOAoHToqPOAvt-h6bH13-2kYc4b9gPVUbWBAZ5x-cM0-daiEht7K5elJyh26MXyyqN~lVcQKoZCkW4fk9PQZqALMNW8fAXsCFJLS3rc17Wb~Y-OJKdvCRZBZtWQCzO~7xh~moTdznh1VdqxF2U-gXam~PNA~Lxf1ixzgktPPOeX1DuZmEwbcbjjDpDdEIjApJ4stSg-KicKlNrx9Fbe5PfNY0~QXmcBKi0pCwbgA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  }

  .banner-content {
    
    .content-title {
      font-size: 30px;
    }
    
    .content-where {
      font-size: 30px;
    }
    
    .content-text {
      font-size: 16px;
    }
    
    .btn-link-start {
      width: 200px;
      height: 30px;
      
      .link-start {
        font-size: 16px;
      }
      
      .link-start:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width:200px) and (max-width: 767px) {
  .banner {
    justify-content: center;
    height: 200px;
    background-image: url('https://s3-alpha-sig.figma.com/img/866b/63ac/1e9eca12ac0612fb7b885045132e08f8?Expires=1647820800&Signature=NhlkpIpR6qN9L7m7-pfHBq5CIZ2ouCnC5HnoqWJpGwg2X3bxKw0PwdqbD6pOVC2bkh1EZhALlq6bRzlzhi-PAkP-A2GCTYJW-LwDXss3DDreysAOAoHToqPOAvt-h6bH13-2kYc4b9gPVUbWBAZ5x-cM0-daiEht7K5elJyh26MXyyqN~lVcQKoZCkW4fk9PQZqALMNW8fAXsCFJLS3rc17Wb~Y-OJKdvCRZBZtWQCzO~7xh~moTdznh1VdqxF2U-gXam~PNA~Lxf1ixzgktPPOeX1DuZmEwbcbjjDpDdEIjApJ4stSg-KicKlNrx9Fbe5PfNY0~QXmcBKi0pCwbgA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  }
      
  .banner-content {
    position: relative;
    top: 23rem;
    margin-left: 0;
    
    .content-title {
      font-size: 25px;
    }
    
    .content-where {
      font-size: 25px;
    }
    
    .content-text {
      font-size: 16px;
    }
    
    .btn-link-start {
      margin-left: 4rem;
      width: 200px;
      height: 30px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      
      .link-start {
        font-size: 16px;
      }
      
      .link-start:hover {
        text-decoration: underline;
      }
    }
  }
}
