@import 'variable';
html {
    font-size: 62.5%;
}

.nav-main {
    width: 100%;
    flex-direction: column;
}

.navbar-menu {
    z-index: 10;
    justify-content: flex-end;
    margin-right: 5%;
}

.container-navbar {
    .logo {
        margin-left: 5%;
    }
}

.list-item {
    margin-left: 15px;
    margin-right: 15px;
}

.list-menu {
    .list-item:hover {
        background-color: $color-buton;
        border-radius: 17rem;
    }
}

.item {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-main {
    width: 100%;
    flex-direction: column;
}

@media only screen and (min-width:768px) and (max-width: 1025px) {
    .container-navbar {
        flex-direction: column;
        .navbar-menu {
            display: flex;
        }
    }
    .btn-menu {
        display: none;
    }
    .logo {
        margin-left: 0;
    }
    .navbar-menu {
        margin-right: 0;
    }
    .list-menu {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width:200px) and (max-width: 767px) {
    .container-navbar {
        flex-direction: row;
        .navbar-menu {
            .list-menu {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .list-menu {
        .list-item:hover {
            background-color: $color-letter-white;
            border-radius: 17rem;
            .item:hover {
                color: #B2D235;
            }
        }
    }
    .logo {
        width: 50px;
        height: 26px;
        margin-left: 0;
        margin-right: 55%;
        .img-logo {
            width: 150px;
            height: 26px;
        }
    }
    .navbar-menu {
        margin-right: 0;
    }
}

