@import 'variable';
.btn-take-courses {
  width: 200px;
  height: 42px;
  background-color: $color-buton;
  border-radius: 22px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-card {
  z-index: 1;
  width: 370px;
  height: 470px;
  margin-top: -80px;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 45%;
}

.card-title {
  color: $color-text-title;
  font-size: 30px;
  text-align: center;
}

.text-detail {
  text-align: center;
  font-size: 14px;
  justify-content: center;
}

.btn-take-this-courses {
  background-color: $color-buton;
  width: 200px;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  border-radius: 22px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border: 0px;
}

.body-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient-background {
  position: relative;
  margin-top: 1px;
  width: 100%;
  height: 125px;
  background: linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%);
}

@media only screen and (min-width:768px) and (max-width: 1025px) {
  .title-other-courses {
    font-size: 50px;
    font-family: cursive;
    line-height: 61px;
    border-bottom: 6px solid;
    border-radius: 3px;
  }

  .btn-view-all {
    color: #90AB26;
    text-decoration: none;
    font-size: 28px;
    font-family: cursive;
  }

  .container-title {
    display: flex;
    justify-content: center;
    align-items: center;

    .title-other-courses {
      font-size: 50px;
      font-weight: bold;
      font-style: normal;
      font-family: cursive;
      line-height: 61px;
      border-bottom: 6px solid $color-line;
      border-radius: 3px;
    }
  }

  .container {
    display: flex;
  }

  .container-card {
    z-index: 1;
    width: 225px;
    height: 300px;
    margin-top: -80px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }

  .card-img-top {
    height: 45%;
  }

  .card-title {
    color: $color-text-title;
    font-size: 20px;
    text-align: center;
  }

  .text-detail {
    text-align: center;
    font-size: 10px;
    justify-content: center;
  }

  .btn-take-this-courses {
    background-color: $color-buton;
    width: 116px;
    height: 24px;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    border-radius: 12px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: inset 0px 1.5px 2px #6F8710;
    border: 0px;
  }

  .body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (min-width:200px) and (max-width: 767px) {
  .gradient-background {
    z-index: -1;
    height: 330px;
  }

  .container-card {
    z-index: 1;
    width: 225px;
    height: 300px;
    margin-top: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }

  .card-img-top {
    height: 45%;
  }

  .body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-title {
      color: $color-text-title;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    .text-detail {
      text-align: center;
      font-size: 10px;
      justify-content: center;
    }

    .btn-take-this-courses {
    background-color: $color-buton;
      width: 116px;
      height: 24px;
      font-size: 10px;
      font-weight: bold;
      line-height: 12px;
      border-radius: 12px;
      margin-left: 20%;
      margin-right: 20%;
      box-shadow: inset 0px 1.5px 2px #6F8710;
      border: 0px;
    }
  }
}

