@import 'variable';
.other {
    margin-top: 100px;
    .container-card-other {
        margin-top: 100px;
    }
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .title-other-courses {
        font-size: 80px;
        font-weight: bold;
        font-style: normal;
        font-family: cursive;
        line-height: 98px;
        border-bottom: 6px solid#B2D235;
        border-radius: 3px;
    }
}

.view-all {
    display: flex;
    justify-content: center;
    .img-arrow {
        width: 50px;
        height: 30px;
        margin-top: 50px;
        margin-left: 10px;
    }
}

.btn-view-all {
    color: $color-button-view-all;
    text-decoration: none;
    margin-top: 30px;
    font-size: 40px;
    font-family: cursive;
}

.btn-view-all:hover {
    text-decoration: underline;
}

@media only screen and (min-width:768px) and (max-width: 1025px) {
    .container-card-other {
        margin-top: 30px;
    }
    .title-other-courses {
        font-size: 50px;
        font-family: cursive;
        line-height: 61px;
        border-bottom: 6px solid#B2D235;
        border-radius: 3px;
    }
    .btn-view-all {
        color: $color-button-view-all;
        text-decoration: none;
        font-size: 28px;
        font-family: cursive;
    }
    .container-title {
        display: flex;
        justify-content: center;
        align-items: center;
        .title-other-courses {
            font-size: 50px;
            font-weight: bold;
            font-style: normal;
            font-family: cursive;
            line-height: 61px;
            border-bottom: 6px solid#B2D235;
            border-radius: 3px;
        }
    }
    .container {
        display: flex;
    }
    .container-card {
        z-index: 1;
        width: 225px;
        height: 300px;
        margin-top: -80px;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
    }
    .card-img-top {
        height: 45%;
    }
    .card-title {
        color: $color-text-title;
        font-size: 20px;
        text-align: center;
    }
    .text-detail {
        text-align: center;
        font-size: 10px;
        justify-content: center;
    }
    .btn-take-this-courses {
        background-color: $color-buton;
        width: 116px;
        height: 24px;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        border-radius: 12px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: inset 0px 1.5px 2px #6F8710;
        border: 0px;
    }
    .body-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .view-all {
        display: flex;
        justify-content: center;
        .img-arrow {
            width: 50px;
            height: 30px;
            margin-top: 40px;
            margin-left: 10px;
        }
    }
}

@media only screen and (min-width:200px) and (max-width: 767px) {
    .title-other-courses {
        font-size: 50px;
        font-family: cursive;
        line-height: 61px;
        border-bottom: 6px solid#B2D235;
        border-radius: 3px;
    }
    .btn-view-all {
        color: $color-button-view-all;
        text-decoration: none;
        font-size: 28px;
        font-family: cursive;
    }
    .container-title {
        display: flex;
        justify-content: center;
        align-items: center;
        .title-other-courses {
            font-size: 40px;
            font-weight: bold;
            font-style: normal;
            font-family: cursive;
            line-height: 61px;
            border-bottom: 6px solid#B2D235;
            border-radius: 3px;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -30%;
    }
    .other {
        margin-top: 100px;
        .container-card-other {
            margin-top: 10px;
        }
    }
    .container-card {
        z-index: 1;
        width: 225px;
        height: 300px;
        margin-top: 30px;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
    }
    .card-img-top {
        height: 45%;
    }
    .card-title {
        color: $color-text-title;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .text-detail {
        text-align: center;
        font-size: 10px;
        justify-content: center;
    }
    .btn-take-this-courses {
        background-color: $color-buton;
        width: 116px;
        height: 24px;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        border-radius: 12px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: inset 0px 1.5px 2px #6F8710;
        border: 0px;
    }
    .body-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .view-all {
        display: flex;
        justify-content: center;
        .img-arrow {
            width: 20px;
            height: 10px;
            margin-top: 35 px;
            margin-left: 5px;
        }
    }
}
