$color-buton: #B2D235;
$color-text-title: #B2D235;
$color-line: #B2D235;
$color-button-view-all: #90AB26;
$color-letter-white:#FFFFFF;
$boder-radius-button-start: 35px;
$boder-radius-button-card: 22px;