
.why-hapo-learn {
    .container-why-hapo-learn {
        width: 100%;
        height: 740px;
        margin-top: 116px;
        background-image: url('img/backgroup_gray.png');
        background-size: cover;
    }
}

.img-keyboard {
    position: absolute;
    margin-top: -225px;
    width: 588px;
    height: 588px;
}

.why-hapo {
    position: absolute;
    left: 150px;
    top: 2500px;

    .title {
        font-size: 70px;
        font-weight: bold;
        font-family: cursive;
        color: white;
    }
}

.pragraph {
    position: absolute;
    left: 150px;
    top: 2600px;
    display: flex;
    flex-direction: column;

    .line-pragraph {
        margin: 10px;
        color: white;
        font-size: 20px;
        list-style: 30px;
        line-height: 24px;
    }
}

.img-laptop-tablet {
    position: absolute;
    width: 792px;
    height: 544px;
    left: 50%;
    top: 2350px;
    position: absolute;
}

@media only screen and (min-width:768px) and (max-width: 1025px) {
    .why-hapo-learn {
        .container-why-hapo-learn {
            width: 100%;
            height: 395px;
            margin-top: 116px;
            background-image: url('img/background_gray_tablet.png');
            background-size: cover, contain;
            background-repeat: no-repeat;
        }
    }

    .img-keyboard {
        position: absolute;
        margin-top: -120px;
        width: 277px;
        height: 277px;
    }

    .why-hapo {
        position: relative;
        width: 500px;
        top: 37px;

        .title {
            text-align: center;
            width: 404px;
            font-size: 50px;
            font-weight: bold;
            font-family: cursive;
            text-align: center;
        }
    }

    .pragraph {
        position: relative;
        left: 5%;
        top: 100px;
        display: flex;
        flex-direction: column;

        .line-pragraph {
            margin: 5px;
            color: white;
            font-size: 13px;
            line-height: 9px;
        }
    }

    .img-laptop-tablet {
        position: relative;
        width: 365px;
        height: 259px;
        left: 52%;
        top: -35%;
    }
}

@media only screen and (min-width:200px) and (max-width: 767px) {

    .why-hapo-learn {
        .container-why-hapo-learn {
            width: 100%;
            height: 569px;
            margin-top: 116px;
            background-image: url('img/background_gray_phone.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .img-keyboard {
        position: absolute;
        margin-top: -80px;
        width: 226px;
        height: 226px;
    }

    .why-hapo {
        position: relative;
        width: 200px;
        top: 25px;
        left: 40%;

        .title {
            width: 300px;
            font-size: 35px;
            font-weight: bold;
            font-family: cursive;
        }
    }

    .pragraph {
        position: relative;
        left: 5%;
        top: 35px;
        display: flex;
        flex-direction: column;

        .line-pragraph {
            color: white;
            font-size: 12px;
            line-height: 17px;
        }
    }

    .img-laptop-tablet {
        position: relative;
        width: 316px;
        height: 218px;
        left: 5%;
        top: 0;
    }
}
