$color-buton: #B2D235;
html {
    font-size: 62.5%;
}

.nav-main {
    width: 100%;
    flex-direction: column;
}

.navbar-menu {
    z-index: 10;
    justify-content: flex-end;
    margin-right: 5%;
}

.container-navbar {
    .logo {
        margin-left: 5%;
    }
}

.list-item {
    margin-left: 15px;
    margin-right: 15px;
}

.list-menu {
    .list-item:hover {
        background-color: $color-buton;
        border-radius: 17rem;
    }
}

.item {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-main {
    width: 100%;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 650px;
    background-image: url('img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    position: absolute;
    left: 5%;
    top: 30rem;
    .content-title {
        font-size: 48px;
    }
    .content-where {
        font-family: cursive;
        font-weight: bold;
        font-size: 40px;
    }
    .content-text {
        font-size: 15px;
    }
    .banner-btn {
        width: 377px;
        height: 77px;
        font-family: cursive;
        background-color: #B2D235;
        border-radius: 37px;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0;
    }
}

.link-start {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.link-start:hover {
    text-decoration: underline;
}

.btn-take-courses {
    width: 200px;
    height: 42px;
    background-color: #B2D235;
    border-radius: 22px;
}

.container {
    display: flex;
    justify-content: center;
}

.container-card {
    z-index: 1;
    width: 370px;
    height: 470px;
    margin-top: -80px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 45%;
}

.card-title {
    color: #B2D235;
    font-size: 30px;
    text-align: center;
}

.text-detail {
    text-align: center;
    font-size: 14px;
    justify-content: center;
}

.btn-take-this-courses {
    background-color: #B2D235;
    width: 200px;
    height: 42px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    border-radius: 22px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: inset 0px 1.5px 2px #6F8710;
    border: 0px;
}

.body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient-background {
    position: relative;
    margin-top: 1px;
    width: 100%;
    height: 125px;
    background: linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%);
}

.container-other {
    margin-top: 100px;
    .container-card-other {
        margin-top: 100px;
    }
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .title-other-courses {
        font-size: 80px;
        font-weight: bold;
        font-style: normal;
        font-family: cursive;
        line-height: 98px;
        border-bottom: 6px solid#B2D235;
        border-radius: 3px;
    }
}

.view-all {
    display: flex;
    justify-content: center;
    .img-arrow {
        width: 50px;
        height: 30px;
        margin-top: 50px;
        margin-left: 10px;
    }
}

.btn-view-all {
    color: #90AB26;
    text-decoration: none;
    margin-top: 30px;
    font-size: 40px;
    font-family: cursive;
}

.btn-view-all:hover {
    text-decoration: underline;
}

.why-hapo-learn {
    .container-why-hapo-learn {
        width: 100%;
        height: 740px;
        margin-top: 116px;
        background-image: url('img/backgroup_gray.png');
        background-size: cover;
    }
}

.img-keyboard {
    position: absolute;
    margin-top: -225px;
    width: 588px;
    height: 588px;
}

.why-hapo {
    position: absolute;
    left: 150px;
    top: 2500px;
    .title {
        font-size: 70px;
        font-weight: bold;
        font-family: cursive;
        color: white;
    }
}

.pragraph {
    position: absolute;
    left: 150px;
    top: 2600px;
    display: flex;
    flex-direction: column;
    .line-pragraph {
        margin: 10px;
        color: white;
        font-size: 20px;
        list-style: 30px;
        line-height: 24px;
    }
}

.img-laptop-tablet {
    position: absolute;
    width: 792px;
    height: 544px;
    left: 50%;
    top: 2350px;
    position: absolute;
}

@media only screen and (min-width:768px) and (max-width: 1025px) {
    .container-navbar {
        flex-direction: column;
        .navbar-menu {
            display: flex;
        }
    }
    .btn-menu {
        display: none;
    }
    .logo {
        margin-left: 0;
    }
    .navbar-menu {
        margin-right: 0;
    }
    .list-menu {
        display: flex;
        flex-direction: row;
    }
    .banner {
        width: 100%;
        height: 350px;
        background-image: url('img/banner_tablet.png');
    }
    .banner-content {
        position: absolute;
        left: 5%;
        top: 20rem;
        .content-title {
            font-size: 25px;
        }
        .content-where {
            font-family: cursive;
            font-weight: bold;
            font-size: 25px;
        }
        .content-text {
            font-size: 10px;
        }
        .banner-btn {
            width: 200px;
            height: 37px;
            font-family: cursive;
            background-color: #B2D235;
            border-radius: 35px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: 0;
        }
    }
    .link-start {
        font-size: 16px;
    }
    .title-other-courses {
        font-size: 50px;
        font-family: cursive;
        line-height: 61px;
        border-bottom: 6px solid#B2D235;
        border-radius: 3px;
    }
    .btn-view-all {
        color: #90AB26;
        text-decoration: none;
        font-size: 28px;
        font-family: cursive;
    }
    .container-title {
        display: flex;
        justify-content: center;
        align-items: center;
        .title-other-courses {
            font-size: 50px;
            font-weight: bold;
            font-style: normal;
            font-family: cursive;
            line-height: 61px;
            border-bottom: 6px solid#B2D235;
            border-radius: 3px;
        }
    }
    .container {
        display: flex;
    }
    .container-card {
        z-index: 1;
        width: 225px;
        height: 300px;
        margin-top: -80px;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
    }
    .card-img-top {
        height: 45%;
    }
    .card-title {
        color: #B2D235;
        font-size: 20px;
        text-align: center;
    }
    .text-detail {
        text-align: center;
        font-size: 10px;
        justify-content: center;
    }
    .btn-take-this-courses {
        background-color: #B2D235;
        width: 116px;
        height: 24px;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        border-radius: 12px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: inset 0px 1.5px 2px #6F8710;
        border: 0px;
    }
    .body-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .view-all {
        display: flex;
        justify-content: center;
        .img-arrow {
            width: 40px;
            height: 20px;
            margin-top: 45px;
            margin-left: 5px;
        }
    }
    .why-hapo-learn {
        .container-why-hapo-learn {
            width: 100%;
            height: 395px;
            margin-top: 116px;
            background-image: url('img/background_gray_tablet.png');
            background-size: cover, contain;
            background-repeat: no-repeat;
        }
    }
    .img-keyboard {
        position: absolute;
        margin-top: -120px;
        width: 277px;
        height: 277px;
    }
    .why-hapo {
        position: relative;
        width: 500px;
        top: 37px;
        .title {
            text-align: center;
            width: 404px;
            font-size: 50px;
            font-weight: bold;
            font-family: cursive;
            text-align: center;
        }
    }
    .pragraph {
        position: relative;
        left: 5%;
        top: 100px;
        display: flex;
        flex-direction: column;
        .line-pragraph {
            margin: 5px;
            color: white;
            font-size: 13px;
            line-height: 9px;
        }
    }
    .img-laptop-tablet {
        position: relative;
        width: 365px;
        height: 259px;
        left: 52%;
        top: -35%;
    }
}

@media only screen and (min-width:200px) and (max-width: 767px) {
    .container-navbar {
        flex-direction: row;
        .navbar-menu {
            .list-menu {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .list-menu {
        .list-item:hover {
            background-color: white;
            border-radius: 17rem;
            .item:hover {
                color: #B2D235;
            }
        }
    }
    .logo {
        width: 50px;
        height: 26px;
        margin-left: 0;
        margin-right: 55%;
        .img-logo {
            width: 150px;
            height: 26px;
        }
    }
    .navbar-menu {
        margin-right: 0;
    }
    .banner {
        width: 100%;
        height: 200px;
        background-image: url('img/banner_phone.png');
    }
    .banner-content {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 10%;
        justify-content: center;
        .content-title {
            font-size: 25px;
        }
        .content-where {
            font-family: cursive;
            font-weight: bold;
            font-size: 25px;
        }
        .content-text {
            font-size: 10px;
        }
        .banner-btn {
            width: 280px;
            height: 46px;
            font-family: cursive;
            background-color: #B2D235;
            border-radius: 35px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: 0;
            justify-content: center;
        }
    }
    .link-start {
        font-size: 16px;
    }
    .title-other-courses {
        font-size: 50px;
        font-family: cursive;
        line-height: 61px;
        border-bottom: 6px solid#B2D235;
        border-radius: 3px;
    }
    .btn-view-all {
        color: #90AB26;
        text-decoration: none;
        font-size: 28px;
        font-family: cursive;
    }
    .gradient-background {
        z-index: -1;
        height: 400px;
    }
    .container-title {
        display: flex;
        justify-content: center;
        align-items: center;
        .title-other-courses {
            font-size: 40px;
            font-weight: bold;
            font-style: normal;
            font-family: cursive;
            line-height: 61px;
            border-bottom: 6px solid#B2D235;
            border-radius: 3px;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -30%;
    }
    .container-other {
        margin-top: 30px;
        .container-card-other {
            margin-top: 0;
        }
    }
    .container-card {
        z-index: 1;
        width: 225px;
        height: 300px;
        margin-top: 30px;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
    }
    .card-img-top {
        height: 45%;
    }
    .card-title {
        color: #B2D235;
        font-size: 20px;
        text-align: center;
    }
    .text-detail {
        text-align: center;
        font-size: 10px;
        justify-content: center;
    }
    .btn-take-this-courses {
        background-color: #B2D235;
        width: 116px;
        height: 24px;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        border-radius: 12px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: inset 0px 1.5px 2px #6F8710;
        border: 0px;
    }
    .body-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .view-all {
        display: flex;
        justify-content: center;
        .img-arrow {
            width: 20px;
            height: 10px;
            margin-top: 45px;
            margin-left: 5px;
        }
    }
    .btn-view-all {
        color: #90AB26;
        text-decoration: none;
        font-size: 22px;
        font-family: cursive;
    }
    .why-hapo-learn {
        .container-why-hapo-learn {
            width: 100%;
            height: 569px;
            margin-top: 116px;
            background-image: url('img/background_gray_phone.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .img-keyboard {
        position: absolute;
        margin-top: -80px;
        width: 226px;
        height: 226px;
    }
    .why-hapo {
        position: relative;
        width: 200px;
        top: 25px;
        left: 40%;
        .title {
            width: 300px;
            font-size: 35px;
            font-weight: bold;
            font-family: cursive;
        }
    }
    .pragraph {
        position: relative;
        left: 5%;
        top: 35px;
        display: flex;
        flex-direction: column;
        .line-pragraph {
            color: white;
            font-size: 12px;
            line-height: 17px;
        }
    }
    .img-laptop-tablet {
        position: relative;
        width: 316px;
        height: 218px;
        left: 5%;
        top: 0;
    }
}