/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/app/public
/public/app/scss/dist
resources/
/public/css
/public/app/
/public/app/scss/dist/
/config/database/