@import 'variable';
@import 'header';
@import 'banner';
@import 'list_courses';
@import 'other_courses';
@import 'why_hapo';
@import 'feedback';
@import 'become';   
@import 'statistic';
@import 'footer';
@import 'author';
@import 'form_login';
@import 'form_register';
@import 'icon_messenger';
