@import'variable';

.content-login {
    height: 671px;
    top: 125px;

    .header-login {
        display: flex;
        justify-content: space-around;
        padding: 0;

        .btn-login-header {
            width: 50%;
            height: 70px;
            font-size: 25px;
            border: 1px solid #B2D235;
            font-weight: bold;
            color: $color-letter-white;
            background-color: #B2D235;
        }

        .btn-register {
            width: 50%;
            height: 70px;
            font-size: 25px;
            border: 1px solid #B2D235;
            font-weight: bold;
            color: $color-buton;
            background-color: white;
        }
    }
}

.body-login {
    margin: 30px 30px 0 30px;

    .username {
        margin: 0 auto;


        .title-username {
            font-size: 20px;
        }

        .text-username {
            height: 60px;
        }
    }

    .password {
        .title-password {
            font-size: 20px;
        }

        .text-password {
            height: 60px;
        }
    }

    .form-check {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            font-size: 18px;
            color: $color-buton;
            text-decoration: underline;
        }
    }
}

.remember-me {
    input {
        width: 18px;
        height: 18px;
    }

    label {
        font-size: 18px;
        margin-left: 10px;
    }
}

.btn-login {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    button {
        width: 200px;
        height: 42px;
        border-radius: 22px;
        border: 0;
        background-color: $color-buton;
        font-size: 18px;
        font-style: bold;
        color: white;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.login-with {
    margin: 15px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .line-left{
        width: 195px;
        height: 1px;
        background-color: black;
    }

    p {
        font-size: 20px;
    }

    .line-right{
        width: 195px;
        height: 1px;
        background-color: black;
    }
}

.footer-login {
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 30px;
    border: 0;

    .btn-google {
        margin-top: 15px;
        width: 100%;
        height: 55px;
        border: 0;
        background-color: #DC4E41;
        font-size: 20px;
        color: white;

    }

    .btn-facebook {
        margin-top: 15px;
        width: 100%;
        height: 55px;
        border: 0;
        background-color: #3B5999;
        font-size: 20px;
        color: white;
    }
}
